@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
* {
 box-sizing: border-box; 
 margin: 0;
 padding: 0;
}

:root{
  font-size: 3.5vmin;
  --scroll-distance: -720%;
  --scroll-duration: 60s;
}

html *{
  box-sizing: border-box;
   margin: 0;
 padding: 0;
}

.App {
  background-position: center 20vh;
  background-size: 65vmin, 100vw 100vh;
  background-color: #bbb1aa;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    background-image: url('resources/images/old_guyz.png'), repeating-linear-gradient(to right, #bbb1aa, rgba(170,161,153,.5) 2.5%, #bbb1aa 5%);;
    background-repeat: no-repeat;
    min-height: 100vh;
    max-height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(170,161,153,.7);
  border: .5rem inset rgba(175,166,158,.2);
  height: 20vh;
  color: #222;
}

.App-title {
  padding-top: 5vh;
  font-family: 'Alex Brush', cursive;
  font-size: 500%;
}

.App-intro {
  min-height: 80vh;
}

.Nav {
  position: absolute;
  height: 1rem;
  bottom: 15%;
  width: 100%;
  z-index: 2;
}

.Nav button { 
  margin: 2rem; 
  padding-left: .25rem;
  padding-right: .25rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  font-size: .75rem;
  border-radius: .3rem;
  border-bottom: .125rem solid rgb(240,240,240);
  border-right: .2rem outset solid black;
  box-shadow: 0rem .2rem .2rem rgba(20,20,20,.5);
  background-color: lightgrey;
}

.spacer {
  height: 1rem;
  width: 100%;
}

.Nav button:hover {
  background-color: pink;
  } 

.Nav button:focus {
  outline: none;
}
.section {
  height: 20rem;
  width: 25rem;
  background-color: rgba(200,200,200,.9);
  margin: auto;
  padding: 1rem;
  overflow: visible;
  border: 1px solid black;
}

.icons {
  display: inline;
}

.icons *{
  height: 6rem;
  width: auto;
  margin: .5rem;
}

.icons *:hover{
  height: 7rem;
  width: auto;
  margin: 0;
}

.close {
  position: relative;
  float: right;
  top: -1rem;
  right: -1rem;
  height: 2rem;
  z-index: 2;
}

audio {
  min-width: 10rem;
  max-width: 100%;
  max-height: 1rem;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(0,0,0,0.4);
  padding: .5rem;
  border-radius: .5rem;
}

.container {
  height: 14.5rem;
  width: 20rem;
  min-height: 14.5rem;
  min-width: 20rem;
  background-color: rgba(200,200,200,.9);
  position: relative;
  top: -15.25rem;
  overflow: visible;
}

.container *{
  overflow: visible;
}

.container h1 {
  font-size: 1.5rem;
  height: 2rem;
  background-color: rgba(200,200,200,.9);

}

.calendar {
  display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   height: 17rem;
  background-color: rgba(200,200,200,.99);

}

.calendarInfo{
  pointer-events: none;
}

.day {
  border: 1px solid black;
  font-size: .45rem;
}

.day:hover {
  background-color: pink;
}

.containScroll {
  overflow: scroll;
}

.scroll {
  overflow: scroll;
  position: relative;
  animation: scroll var(--scroll-duration) linear infinite;
  line-height: 2rem;
}

.scroll:hover, .scroll:active {
  animation-play-state: paused;
}

.containedImg {
  width: 100%;
  height: auto;
}

.decontainer {
  background-color: lightgrey;
  position: relative;
  
  min-width: 15rem;
  border: 1px solid black;
}

.decontainer img{
  width: 100%;
}

button.sectionButton {
  margin: 1rem;
  font-size: .75rem;
}

.youtube {
  margin-top: -2rem;
}

.hide-overflow {
  overflow: hidden;
}

.like-button {
  position: relative;
}

.twitter  {
  position: relative;
  top: -12rem;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.songContainer {
  display: flex;
  overflow: scroll;
  width: 100%;
  height: 80%;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
}

.fixedNav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 22.95rem;
  height: .1rem;
  z-index: 2;
}

.fixedNav button {

  margin-top: -1rem;
  width: 35%;
  height: 1rem
}

.containedContent {
  position: fixed;
  width: 22.95rem;
  z-index: 1;
}

.containedContent > div > div{
  background-color: rgba(200,200,200,.99);
  max-height: 18.5rem;
  overflow: scroll;
}

.gallery {
  overflow: scroll;
}

.picture {
  overflow: hidden;
}

.picture img {
  width: 90%;
  height: auto;
}

.songInfo {
  display: flex;
  line-height: 1.5rem;
  justify-content: space-between;
  text-align: center;
}

.setButton {
  width: 22rem;
  padding: .5rem;
  font-size: 1rem;
  margin-top: .4rem;
}

.songList {
  overflow: scroll;
}

.commentContainer {
  min-height: 100%;
  background-color: rgba(200,200,200,.99);
}

#userComment {
  width: 15rem;
  height: 9rem;
}

@keyframes scroll {
    from {top: 100%;}
    to {top: var(--scroll-distance);}
}

@media only screen and (orientation: landscape) and (min-device-aspect-ratio: 1/1) {
  .App {
    background-size: 65vmin, 100vw 100vh;
  }
}

@media only screen and (orientation: portrait) and (min-device-aspect-ratio: 1/1) {
  .App {
    background-size: 100vmin, 100vw 100vh;
  }
}

@media only screen and (orientation: portrait) and (max-device-aspect-ratio: 1/1) {
  .App {
    background-size: 100vmin, 100vw 100vh;
  }
}

